body {
  background-color: black;
  font-family: Helvetica;
}

form {
  display: inline-block;
  align-items: center;
  width: 100%;
  text-align: center;
}

h1 {
  color: firebrick;
}

.formStyle {
  border-color: #907163;
}

.legendText {
  font-size: 28px;
  text-align: center;
  padding: 10px;
  font-style: italic;
  color: #907163;
}

input {
  display: flex;
  margin: auto;
  text-align: center;
  color: #379683;
}

.formText {
  color: #379683;
  padding: 5px;
}
